---
# Role tasks

- include_role:
    name: amtega.check_platform
  vars:
    check_platform_distributions:
      centos: 6  # TODO: Only 7 ?
      fedora: 29
      rhel: 6
  tags:
    - role::sqlserver_jdbc_connector

- block:
    - import_tasks: facts.yml
    - import_tasks: check.yml
    - import_tasks: download.yml
    - import_tasks: install.yml
    - import_tasks: uninstall.yml
    - import_tasks: cleanup.yml
  tags:
    - role::sqlserver_jdbc_connector
